<nav class="navbar navbar-expand-lg fixed-top shadow-sm" style="background-color: #213448;">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="#">RG.</a>
</nav>

<style>
  .hover-white:hover { color: #fff !important; }
</style>